<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>price</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">

        <header>

            <a href="#" class="logo">Smart<span>Study</span></a>

            <div id="menu" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="/">home</a>
                <a href="/make-post">post blog</a>
                <a href="/view-blog">view blog</a>
            </nav>

        </header>

        <h1 class="heading"> Here we go... </h1>

        <!-- price section  -->

        <section class="price">

            <div class="box">
                <h3>Blogs</h3>
                <% blogs.forEach(blog=> {%>
                    <div class="amount">
                        <h2><a href="/single-view/<%=blog._id%>">
                                <%=blog.name%>
                            </a></h2>
                        <h4>
                            <%=blog.email;%>
                        </h4>
                        <h5>
                            <%=blog.subject%>
                        </h5>
                        <p>
                            <%=blog.message%>
                        </p>
                        <a href="/update-blog/<%=blog._id%>">Edit/Update Blog</a>
                        <a href="" class="deletBtn"
                            style="color: red; background-color: #fff; padding: .2rem; border-radius: .3rem;"
                            data-delete="<%=blog._id%>"
                            >
                            delete Post
                        </a>
                        <hr>
                    </div>

                    <%})%>



                        <!-- <a href="#" class="btn">time</a> -->
            </div>




        </section>


        <!-- footer section  -->

        <section class="footer">

            <div class="box-container">

                <div class="box">

                </div>

                <div class="box">

                </div>

                <div class="box">

                </div>

                <div class="box">

                </div>

            </div>

            <div class="credit"> created by <span> Yusuf Atlantis </span> | all rights reserved </div>

        </section>

    </div>















    <!-- custom js file link -->
    <script src="js/script.js"></script>

    <script>
        const deleteBtn = document.querySelector('.deletBtn');
        deleteBtn.addEventListener('click', (e) => {
            // e.preventDefault();
            fetch(`/delete-post/${deleteBtn.dataset.delete}`, {
            method: "DELETE"
           })
           .then(response => {
            response.json()
           })
           .then(data => {
            console.log(data);
            window.location.href = data.message.redirect;
           })
        })
    </script>

</body>

</html>